:root {	
  --main-bg-color:		#FCFCFA;
  --post-bg-color:		#FFFFEE;
  --header-bg-color: 	#ddddcc;
  --title-color:		#33332A;
  --hover-color:		#29aaf9;
  --post-text-color:	#11111A;
}

html { font-size: 62.5%; } /* =10px */
body { font-size: 1.6rem; /* =14px */
 	min-height: 100%;
	background-color: var(--main-bg-color); }

.header-bg {
	width: 100%;
	height: 100%; }

.indent { 
	text-indent: 5rem; 
	margin-bottom: 3rem;
}

#banner { 
	text-align: center; }

#blog-title {
	color: var(--title-color);
	font-size: 3.2rem;
	font-weight: bold; 
	font-family: "Roboto";
	word-spacing: 1.0rem; }

#banner img {
	border-radius: 0px 0px 3px 3px;
	max-width: 100%;
	object-fit: scale-down;
    display: block; }

#links {
	padding-left: 2rem;
	text-align: left; }

#links a {
	color: var(--title-color); 
	text-decoration: none;  }

#links a:hover {
	color: var(--hover-color); }

#archive-link {
	font-weight: bold; 
	font-family: 'Bebas Neue';
	font-size: 2.5rem;
	float: left;
}

.link {
	float: right;
	font-size: 2.0rem;
	color: var(--title-color); 
	margin-left: .5rem;
	margin-right: .5rem;
	text-decoration: none; }

#header-spacer {
	height: 5rem; }

#posts { 
	color: var(--post-text-color);}

.post-header { }

.post {
	margin-bottom: 15.0rem;
	box-sizing: border-box; }

.post-line {
	background-color: #ddddcc;
	height: .5rem;
	border-radius: .5rem; }

.post-title {
	color: var(--title-color);
	font-size: 2.5rem;
	font-weight: bold; }

.post-date {
	padding-top: 1.0rem;
	font-size: 2.0rem;
	color: var(--title-color); } 

.post-text {
	margin-top: 3.0rem;
	font-size: 2.1rem; }

/* --------------------------------- */
.post-text iframe {
	display: block;
  	margin: auto;
	width: 50%; }	
.post-text iframe {
	display: block;
  	margin: auto;
	width: 50%; }
/*  -------------------------------- */

.post-text * {
}

.post-text img {
	/* center the images */
	width: 100%;
	position: relative;
	left: 50%;
	transform: translateX(-50%);

	display: inline-block;
	max-height: 593px; 
	object-fit: scale-down;
	marign-top: 1rem;
	margin-bottom: 1rem; }

#archive-foot {
	font-weight: bold; 
	font-family: 'Bebas Neue';
	font-size: 2.5rem;
	color: var(--title-color); 
	text-decoration: none; 
	position: relative;
	left: 50%;
	transform: translateX(-50%); }

#foot-con {
	postion: absolute;
	bottom: 0; }

#archive-foot:hover {
	color: var(--hover-color); }

.title_date .post-title:hover {
	color: var(--hover-color); }
